{% extends "base.html" %}

{% block content %}

    <table class="table">
        <tbody>
            <tr><th>Name</th></tr>
            <tr><td>{{ object.name }}</td></tr>
        </tbody>
    </table>

    {% include "object_list.html" with header="Projects" object_list=object.project_set.all %}

{% endblock %}
