{% extends "base.html" %}

{% block content %}

    <table class="table">
        <tbody>
            <tr><th>Name</th></tr>
            <tr><td>{{ object.name }}</td></tr>

            <tr><th>Project</th></tr>
            <tr class="scollink"><td>{% include "object_link.html" with object=object.project %}</td></tr>
        </tbody>
    </table>

{% endblock %}

