{% extends "base.html" %}

{% block content %}


    <table class="table">
        <thead>
            <tr>
                <th>Home</th>
            </tr>
        </thead>
        <tbody>
            <tr class="scollink">
                <td><a href="/projects/clients">Clients</a>
            </tr>
            <tr class="scollink">
                <td><a href="/projects/products">Products</a>
            </tr>
            <tr class="scollink">
                <td><a href="/projects/projects">Projects</a>
            </tr>
            <tr class="scollink">
                <td><a href="/projects/environments">Environments</a>
            </tr>
        </tbody>
    </table>

{% endblock %}
