{% extends "base.html" %}

{% block content %}

    <table class="table">
        <tbody>
            <tr><th>Name</th></tr>
            <tr><td>{{ object.name }}</td></tr>

            <tr><th>Client</th></tr>
            <tr class="scollink"><td>{% include "object_link.html" with object=object.client %}</td></tr>

        </tbody>
    </table>

    {% include "object_list.html" with header="Environments" object_list=object.environment_set.all %}

{% endblock %}
