{% extends "base.html" %}

{% load i18n %}
 
{% block title %}Page not found{% endblock %}
 
{% block content %}
    <h1>Page not found</h1>
    
    <p>Sorry, but the requested page could not be found.</p>
{% endblock %}
