{% extends "base.html" %}

{% load i18n %}
 
{% block title %}Page unavailable{% endblock %}
 
{% block content %}

    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>
    <p>Our engineers have been notified, so check back later.</p>

{% endblock %}
