{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


        <style>

body {
    background-color: #222;
}
#smart_columns {
    position: relative;
    border: 1px solid blue;
}
#smart_columns .smart_column {
    position: absolute;
    /* transition: left 1s; */
    width: 60%;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em;
    bottom: 0;
    right: 10px;
}


#smart_columns .smart_column:first-child:last-child {
    left: 0;
    width: 100%;
}


#smart_columns .smart_column:nth-last-child(2):first-child {
    left: 0;
    width: 20%;
}
#smart_columns .smart_column:nth-child(2):last-child {
    left: 20%;
    width: 80%;
}



#smart_columns .smart_column:nth-last-child(3) {
    left: 0;
    width: 20%;
    background-color: #ddd;
}
#smart_columns .smart_column:nth-last-child(2) {
    left: 20%;
    width: 20%;
    background-color: #eee;
}
#smart_columns .smart_column:nth-child(n+3):last-child {
    left: 40%;
}


#smart_columns .smart_column:nth-last-child(4) {
    left: -20%;
    width: 20%;
    background-color: #ccc;
    opacity: 0.8;
}
#smart_columns .smart_column:nth-last-child(5) {
    left: -40%;
    width: 20%;
    background-color: #bbb;
    opacity: 0.6;
}
#smart_columns .smart_column:nth-last-child(n+6) {
    display: none;
    left: -60%;
    width: 20%;
    background-color: #aaa;
    opacity: 0.1;
}

#smart_columns .smart_column:last-child {
    background-color: #fff;
}

#smart_columns .smart_column.loading {
    left: 99% !important;
}
#back {
    display: block;
    text-align: right;
}

.scollink:hover a {
    text-decoration: underline;
}

.scollink-active {
    background-color: #fff;

}
.scollink-hover:hover {
    background-color: #337ab7;
    cursor: pointer;

}
.scollink-hover {
    background-color: #c2daf4;

}
.scollink-hover:hover a {
    color: #fff;
}
        </style>
</head>
<body>
<div class="container">
    <a id="back" href="#js">back</a>
    <div id="smart_columns">
        <div class="smart_column">
            {% block content %}
                Page not configured.
            {% endblock %}
        </div>
    </div>
</div>
</body>

<script>

$(document).ready(function(){

    $('#smart_columns').on('mouseenter', '.scollink', function(ev) {
        var href = $(this).find('a').first().attr('href');
        console.log(href);
        var equivLinks = $("[href='"+href+"']").closest('.scollink').addClass('scollink-hover');
    });
    $('#smart_columns').on('mouseleave', '.scollink', function(ev) {
        var href = $(this).find('a').first().attr('href');
        var equivLinks = $("[href='"+href+"']").closest('.scollink').removeClass('scollink-hover');
    });
    $('#smart_columns').on('click', '.scollink', function(ev) {
        ev.preventDefault();

        var $this = $(this);
        var $a = $this.find('a').first();
        var href = $a.attr('href');

        // Detect loop condition (When clicked link is also an ancestor)
        var equivLinks = $("[href='"+href+"']");
        if (equivLinks.length > 1) {
            var first = equivLinks.get(0);
            if (first != $a.get(0)) {
                console.log({'this': this, 'first': first});
                $(first).trigger('click');
                return;
            }
        }

        var $column = $this.closest('.smart_column');

        $column.find('.scollink').removeClass("scollink-active");
        $column.nextAll().remove();

        $.get(href ,function(data){
            $("#smart_columns").append($(".smart_column",data));
        },'html');
        $(this).closest('.scollink').addClass('scollink-active');
    });
    $('#back').on('click', function(ev) {
        ev.preventDefault();
        $('.smart_column:last-child').remove();
    });


});


</script>
</html>
