<table class="table">
    <thead>
        <tr>
            <th>{% if header %}{{ header }}{% else %}Name{% endif %}</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
            <tr class="scollink">
                <td>{% include "object_link.html" with object=obj %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
