{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead>
            <tr><th>{{ object.name }}</th></tr>
        </thead>
        <tbody>
            {% for column in object.column_set.all %}
            <tr><td>{{ column.name }}{% if column.references %} - References <a class="scollink" href="{{ column.references.table.get_absolute_url }}">{{ column.references.table }}.{{ column.references.name }}{% endif %}</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

