{% extends "base.html" %}

{% block content %}

    <table class="table">
        <tbody>
            <tr><th>Name</th></tr>
            <tr><td>{{ object.name }}</td></tr>
        </tbody>
    </table>

    {% if object.image %}
        <img src="{{ object.image.url }}" width="90%"/>
    {% endif %}

    {% include "object_list.html" with header="Outgoing Links" object_list=object.outgoing_transitions.all %}

{% endblock %}
