{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


        <style>

.vpc > .name,
.subnet > .name {
  font-weight: bold;
  margin-bottom: 1em;
}

.vpc {
  position: relative;
}
.subnet.ap-southeast-2a {
  /*left: 0;
  width: 30%;*/
}
.subnet.ap-southeast-2b {
  /*margin-left: 32%;
  width: 30%;*/
}
.subnet.ap-southeast-2c {
  /*margin-left: 66%;
  width: 30%;*/
}
.vpc {
  margin: 10px;
}
.vpc, .subnet {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.ec2::before {
  display: block;
  content: " ";
  float: left;
  margin-left: -25px;
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 4px;
}
.ec2.stopped::before {
  background-color: gray;
}
.ec2 {
  padding: 10px 20px 10px 30px;
}

.az {
  float: left;
  width: 30%;
  margin-left: 1%;
}

        </style>
</head>
<body>
<div class="container-wide">

  <div class="vpc">
    <div class="name">
        <a href="{{ object.get_absolute_url }}" target="rightpane">{{ object }}</a>
    </div>
    <div class="az">
      {% for subnet in object.subnet_set.all %}
        {% if subnet.availability_zone|default:""|slice:"-1:" == "a" %}
        <div class="subnet {{ subnet.availability_zone }}">
          <div class="name">
              <a href="{{ subnet.get_absolute_url }}" target="rightpane">{{ subnet }}</a>
          </div>
          {% for ec2 in subnet.ec2instance_set.all %}
            <div class="ec2 {{ ec2.state }}">
              <a href="{{ ec2.get_absolute_url }}" target="rightpane">{{ ec2 }}</a>
            </div>
          {% endfor %}
          {% for rds in subnet.dbinstance_set.all %}
            <div class="rds">
              {{ rds }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="az">
      {% for subnet in object.subnet_set.all %}
        {% if subnet.availability_zone|default:""|slice:"-1:" == "b" %}
        <div class="subnet {{ subnet.availability_zone }}">
          <div class="name">
              <a href="{{ subnet.get_absolute_url }}" target="rightpane">{{ subnet }}</a>
          </div>
          {% for ec2 in subnet.ec2instance_set.all %}
            <div class="ec2 {{ ec2.state }}">
              <a href="{{ ec2.get_absolute_url }}" target="rightpane">{{ ec2 }}</a>
            </div>
          {% endfor %}
          {% for rds in subnet.dbinstance_set.all %}
            <div class="rds">
              {{ rds }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="az">
      {% for subnet in object.subnet_set.all %}
        {% if subnet.availability_zone|default:""|slice:"-1:" == "c" %}
        <div class="subnet {{ subnet.availability_zone }}">
          <div class="name">
              <a href="{{ subnet.get_absolute_url }}" target="rightpane">{{ subnet }}</a>
          </div>
          {% for ec2 in subnet.ec2instance_set.all %}
            <div class="ec2 {{ ec2.state }}">
              <a href="{{ ec2.get_absolute_url }}" target="rightpane">{{ ec2 }}</a>
            </div>
          {% endfor %}
          {% for rds in subnet.dbinstance_set.all %}
            <div class="rds">
              {{ rds }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix"></div>
  </div>
</div>
</body>

<script></script>
</html>
