{% extends "base.html" %}

{% block content %}

  {% block object_fields %}
    <table class='table'>
    {% for name, value, is_relation in object.get_fields %}
      <tr>
        <th>{{ name }}</th>
          {% if is_relation %}
              <td class="scollink">{% include "object_link.html" with object=value %}</td>
          {% else %}
            <td>{{ value }}</td>
          {% endif %}
      </tr>
    {% endfor %}
    </table>

  {% endblock %}

  {% block object_links %}
    {% for link_heading, link_list in object.get_links %}
      <h3>{{ link_heading }}</h3>
      {% include "object_list.html" with object_list=link_list %}
    {% endfor %}

  {% endblock %}

  {% block actions %}

  {% endblock %}
{% endblock %}
