{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static 'external/bootstrap/bootstrap.min.css' %}">

		<!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript">
      document.write("\<script src='//code.jquery.com/jquery-latest.min.js' type='text/javascript'>\<\/script>");
      document.write("\<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'>\<\/script>");
    </script>

        <style>

body {
    background-color: #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body .container {
  height: 100%;
  width: 100%;
}
#smart_columns {
    border: 1px solid blue;
    position: relative;
    height: 100%;
}
#smart_columns .smart_column {
    position: absolute;
    /* transition: left 1s; */
    width: 70%;
    background-color: #f8f8f8;
    overflow: hidden;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s;
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}
#smart_columns .smart_column > div {
  height: 100%;
  overflow: scroll;
}


/* Single column */
#smart_columns .smart_column:first-child:last-child {
    left: 0%;
    width: 100%;
}




/* First of 2 columns */
#smart_columns .smart_column:nth-last-child(2):first-child {
    left: 0%;
    width: 30%;
}
/* Second of 2 columns */
#smart_columns .smart_column:nth-child(2):last-child {
    left: 30%;
    /*width: 80%;*/
}



#smart_columns .smart_column:nth-last-child(3) {
    left: 0;
    /*width: 20%;*/
    background-color: #ddd;
    opacity: 0.3;
}
#smart_columns .smart_column:nth-last-child(2) {
    left: 15%;
    /*width: 20%;*/
    background-color: #eee;
    opacity: 0.7;
}
#smart_columns .smart_column:nth-child(n+3):last-child {
    left: 30%;
}


#smart_columns .smart_column:nth-last-child(4) {
    left: -20%;
    /*width: 20%;*/
    background-color: #ccc;
    opacity: 0.1;
}
#smart_columns .smart_column:nth-last-child(5) {
    left: -40%;
    /*width: 20%;*/
    background-color: #bbb;
    opacity: 0.0;
}
#smart_columns .smart_column:nth-last-child(n+6) {
    display: none;
    left: -60%;
    width: 20%;
    background-color: #aaa;
    opacity: 0;
}

#smart_columns .smart_column:last-child {
    background-color: #fff;
}

#smart_columns .smart_column.loading {
    left: 99% !important;
}
#back {
    display: block;
    text-align: right;
}

.scollink:hover a {
    text-decoration: underline;
}

.scollink-active {
    background-color: #fff;

}
.scollink-hover:hover {
    background-color: #337ab7;
    cursor: pointer;

}
.scollink-hover {
    background-color: #c2daf4;

}
.scollink-hover:hover a {
    color: #fff;
}
        </style>
</head>
<body>
<div class="container">
    <a id="back" href="#js">back</a>
    <div id="smart_columns">
        <div class="smart_column">
          <div>
            {% block content %}
                Page not configured.
            {% endblock %}
          </div>
        </div>
    </div>
</div>
</body>

<script>

$(document).ready(function(){

    var jsEnabled = true;

    $(document).on('keydown', function(ev) {
      if (ev.shiftKey) {
        jsEnabled = !jsEnabled;
        document.title = ""+jsEnabled;
      }
    });
    $('#smart_columns').on('mouseenter', '.scollink', function(ev) {
        var href = $(this).find('a').first().attr('href');
        console.log(href);
        var equivLinks = $("[href='"+href+"']").closest('.scollink').addClass('scollink-hover');
    });
    $('#smart_columns').on('mouseleave', '.scollink', function(ev) {
        var href = $(this).find('a').first().attr('href');
        var equivLinks = $("[href='"+href+"']").closest('.scollink').removeClass('scollink-hover');
    });
    $('#smart_columns').on('click', '.scollink', function(ev) {
        if (!jsEnabled || ev.metaKey || ev.ctrlKey || ev.which == 2 || ev.which == 3) {
          return;
        }
        ev.preventDefault();
        ev.stopPropagation();

        var $this = $(this);
        var $a = $this.find('a').first();
        var href = $a.attr('href');

        // Detect loop condition (When clicked link is also an ancestor)
        var equivLinks = $("[href='"+href+"']");
        // if (equivLinks.length > 1) {
        //     var first = equivLinks.get(0);
        //     if (first != $a.get(0)) {
        //         console.log({'this': this, 'first': first});
        //         $(first).trigger('click');
        //         return;
        //     }
        // }

        var $column = $this.closest('.smart_column');

        $column.find('.scollink').removeClass("scollink-active");
        $column.nextAll().remove();

        $.get(href ,function(data){
            $("#smart_columns").append($(".smart_column",data));
        },'html');
        $(this).closest('.scollink').addClass('scollink-active');
    });
    $('#smart_columns').on('click', '.smart_column:nth-last-child(2)', function(ev) {
        ev.preventDefault();
        $('.smart_column:last-child').remove();
    });


});


</script>
</html>
