{% extends "base.html" %}

{% block content %}

    <form id="product-details" class="form-horizontal" role="form" method="post">{% csrf_token %}
        <table class="table">
            <thead><tr><th colspan="2">Edit</th></tr></thead>

            <tbody>
            {% for field in form %}
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="id_{{field.name}}" class="control-label">{{ field.label }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="">
                                {{ field.value }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
    </form>

{% endblock %}

