<table class="table">
    <tbody>
        {% for obj in object_list %}
            <tr class="scollink">
                <td>{% include "object_link.html" with object=obj %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
