{% load type_name %}

Type name: {{ object.name|type_name }}

<table class="table">
    <thead><tr><th colspan="2">Edit</th></tr></thead>

    <tbody>

        </tbody>
    </table>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
</form>




