{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
